[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyee = "*"
aiofiles = "*"
behave = "==1.2.7.dev6"

[dev-packages]
autopep8 = "*"
setuptools = "*"

[requires]
python_version = "3.10"
